/* =============font link css part start============= */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');
/* =============font link css part end============= */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
body{
    background: url(../images/counter.png);
    background-size: 200%;
    background-repeat : no-repeat;
    background-position : cover;
}
.heading{
    color: hotpink;
    text-align: center;
    margin-bottom: 100px;
}
.projectCounter ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectCounter ul li{
    width: 20%;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #fff;
    padding: 20px 0;
    border-radius: 20px;
    transition: all linear .2s;
}
.projectCounter ul li:hover{
    transform: scale(1.1);
}
.projectCounter ul li:nth-child(1){
    background: #b813ce;
    box-shadow: 10px 10px 5px 0px rgba(243, 241, 245, 0.75);
}
.projectCounter ul li:nth-child(2){
    background: #690975;
    box-shadow: 10px 10px 5px 0px rgba(243, 241, 245, 0.75);
}
.projectCounter ul li:nth-child(3){
    background: #b813ce;
    box-shadow: 10px 10px 5px 0px rgba(243, 241, 245, 0.75);
}
.projectCounter ul li p.number{
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
}
.projectCounter ul li p{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}
.projectCounter ul li span{
    width: 60px;
    height: 2px;
    background: #fff;
    display: block;
    margin: 0 auto;
}
.projectCounter ul li i{
    font-size: 50px;
    color: #fff;
}
